
<!-- go -->
<div id="logo">
  <h1 class="mobileUI-site-name"><%= link_to "我的博客", blog_index_path  %></h1>
</div>

<!-- Nav -->
<nav id="nav" class="mobileUI-site-nav">
<ul>
  <li class="<%= ["index","show","create"].include?(params[:action]) ? 'current_page_item' : '' %>">
  <%= link_to "文章", blog_index_path %>
  </li>
  <li><a href="#">关于我</a></li>
</ul>
</nav>

<!-- Search -->
<section class="is-search is-first">
<form method="post" action="#">
  <input type="text" class="text" name="search" placeholder="Search" />
</form>
</section>
<section>
<h2 onclick="$(this).next().slideToggle()">标签</h2>
<div id="myCanvasContainer">
  <canvas width="180" height="180" id="myCanvas">
  <p>Anything in here will be replaced on browsers that support the canvas element</p>
  </canvas>
</div>
<div id="tags" style="display:none">
  <%= get_all_tags %>
</div>
</section>
<script type="text/javascript">
  if(!$('#myCanvas').tagcanvas({
      textColour: null,
      outlineColour:'#ff00ff',
      reverse: true,
      initial: [0.2,0.2],
      depth:0.8,
      maxpeed: 0.05
      },'tags')) {
    $('#myCanvasContainer').hide();
  }
</script>
<% if @blogs_file %>
  <section>
  <h2 onclick="showToggle(this)">归档</h2>
  <ul> 
    <% @blogs_file.each do |k,v| %>
      <li><%=link_to k +"("+v.size.to_s+")",blog_index_path(:time => k)%></li>
    <% end %>
  </ul>
  </section>
<% end %>
<!--显示最新评论和来访人-->
<%= render partial: "/duoshuo_comment/duoshuo_sidebar" %>
<!-- Copyright -->
<div id="copyright">
  <p><%= link_to "后台管理", admin_blog_index_path %></p>
  <p>
  &copy; 2013 An Untitled Site.
  </p>
</div>
