<!DOCTYPE html>
<html>
  <head>
    <title>Myblog</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "kindeditor/plugins/code/prettify" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="left-sidebar is-desktop is-1000px">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Content -->
      <div id="content" class="mobileUI-main-content">
        <%= yield %>
      </div>
      <!-- Sidebar -->
      <div id="sidebar">
        <%= render partial: "/user/sidebar" %>
      </div>
    </div>
    <script type="text/javascript">
      prettyPrint();
      </script>
    </body>
  </html>
